<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
 


    <link rel="icon" type="image/png" href="assets/img/favicon.png"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
    <title>FireBase-Doc</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>  


  </head>
  
  <body>

      <div class="app20">
        <select v-model="select">
            <option disabled>請選擇</option>
            <option v-for="item in dataArray" :value="item">{{item}}</option>
        </select>
      </div>
  </body>


  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBcH9bj8Bm5vSZPbaBnBy-FS9IaGA_iI1M",
    authDomain: "fire-base-demo-0811.firebaseapp.com",
    projectId: "fire-base-demo-0811",
    storageBucket: "fire-base-demo-0811.appspot.com",
    messagingSenderId: "236106228674",
    appId: "1:236106228674:web:0682d496d91782c16fac5b",
    measurementId: "G-K3QBQV5GH0"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  <script>
     
    // FireBase.initialzeApp(fireBaseConfig);

    // const db = fireBase.getElementById


    // const key = msgRef.push().key;
    // console.log(key);
    // msgRef.child(key).set({

    //     message: '漂亮阿姨也棒棒'
    // })
  
</script>

<script>


    const app = vue.create
    const key = chatRoom.push().key;

    var app20 = new Vue({
        el:'.app20',
        data:{
            dataArray:['Leo','Perter','Harry'],
						selected:''
        }
    });
    methods: {
        addMessage(){
            consloe.log("")
        }
    },



    mounted() {
        chatroomRef.on('value',(snapshot))
        const data = snapshot.val();
        console.log(data);
        this.chatroom = data;
    },
</script>


</html>
